<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.vltava.dao.AppManageMapper">
  <resultMap id="BaseResultMap" type="com.dmall.vltava.domain.app.AppVO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="system_unique_name" jdbcType="VARCHAR" property="systemUniqueName" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="build_group" jdbcType="VARCHAR" property="buildGroup" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>