dubbo:
  registry:
    address: ${__infra.dsf.registry.addr}
  application:
    name: ${__mid.app.code}
    owner: wei.zhu
  protocol:
    name: dubbo
    port: 20880

server:
  port: 8080

spring:
  application:
    name: vltava
  datasource:
    #test
    url: jdbc:mysql://${db.mysql.dmall_fit_vltava.rw.host}:${db.mysql.dmall_fit_vltava.rw.port}/vlatava_agent_tool?serverTimezone=CTT&characterEncoding=UTF-8&autoReconnect=true&allowMultiQueries=true&useSSL=false&rewriteBatchedStatements=true&connectTimeout=2000
    username: ${db.mysql.dmall_fit_vltava.rw.user}
    password: ${db.mysql.dmall_fit_vltava.rw.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    time-zone: GMT+8

  redis:
    host: 10.38.224.35
    port: 7152
    password: ""

pagehelper:
  default-count: true
  helper-dialect: mysql

mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.dmall.vltava.domain
  configuration:
    map-underscore-to-camel-case: true
mapper:
  mappers: com.dmall.vltava.utils.MyMapper
  not-empty: false
  identity: MYSQL

dmall:
  dmc:
    projectCode: SupplyChainTool-RTA
    appCode: vlatava-tool
  admiral:
    enabled: true
    appName: aladdin-f-i-t-dmall-fit-vltava
    appKey: aladdin-f-i-t-dmall-fit-vltava
    secretKey: 4f8049c9bf8baf1c8efeb5cb
    serverHttpAddress: meta.admiral.dmall.com
    env: test
  logback:
    level: debug
    devMode: true
    log:
      serverAddres: http://10.248.8.12:8567
  mq:
    topic:
      rkt-vltava-req-test: rkt_vltava_req_test
    group: group_dmall_fit_vltava
  dmg:
    projectCode: aladdin-FIT
    appCode: dmall-fit-vltava
    dmcServerAddress: ${__infra.dmc.server.addr}
    secretKey: 5795DBAF-1888-47AA-89B2-CCD224BE65E9
    serverAddress: ${__infra.dmg.server.addr}
