dubbo:
  registry:
    address: ${__infra.dsf.registry.addr}
  application:
    name: ${__mid.app.code}
    owner: wei.zhu
  protocol:
    name: dubbo
    port: 20880

server:
  port: 8080

spring:
  application:
    name: vltava
  datasource:
    #test
    url: jdbc:mysql://${db.mysql.vlatava_agent_tool.rw.host}:${db.mysql.vlatava_agent_tool.rw.port}/vlatava_agent_tool?serverTimezone=CTT&characterEncoding=UTF-8&autoReconnect=true&allowMultiQueries=true&useSSL=false&rewriteBatchedStatements=true&connectTimeout=2000
    username: ${db.mysql.vlatava_agent_tool.rw.user}
    password: ${db.mysql.vlatava_agent_tool.rw.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    time-zone: GMT+8

  redis:
    host: 10.38.224.35
    port: 7152
    password: ""

logging:
  config: classpath:logback-spring-test.xml

pagehelper:
  default-count: true
  helper-dialect: mysql

mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.dmall.vltava.domain
  configuration:
    map-underscore-to-camel-case: true
mapper:
  mappers: com.dmall.vltava.utils.MyMapper
  not-empty: false
  identity: MYSQL

dmall:
  dmc:
    projectCode: SupplyChainTool
    appCode: vlatava-tool
  admiral:
    enabled: true
    appName: supply-chain-tool-r-t-a-vlatava
    appKey: 6458F188373112895C75190298FEE915EFE45BC37EB7600499974B13A1F60A7C
    secretKey: 147748f18e0193bb70bb5d12
    serverHttpAddress: meta.admiral.dmall.com
